.dialog-overlay {
  position: fixed; /* Fixed position to cover the entire viewport */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex; /* Use flexbox to center the dialog */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  z-index: 1000; /* Ensure it appears on top */
  font-size: 1.2em;
}

.dialog {
  border-radius: 8px;
  padding: 20px;
  max-width: 800px;
  min-width: 400px; /* Set a maximum width for the dialog */
  width: 100%; /* Allow it to be responsive */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
  animation: fadeIn 0.3s; /* Add a fade-in animation */
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  & h4 {
    text-wrap: pretty;
  }
}

.close-button {
  border: none;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  font-size: 1em;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  transition: all 0.2s ease;

  &:hover {
    color: red;
  }
}

.dialog-content {
  margin: 35px 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.dialog-btn {
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #6c757d;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;

  &:hover {
    background-color: #5a6268;
    transform: scale(1.01);
  }
}

.dialog-actions {
  display: flex;
  justify-content: center;
}
.dialog-row {
  display: flex;
  justify-content: flex-start;
  gap: 6px;
}
.dialog-row p:first-of-type {
  width: 120px;
}
.feedback {
  margin: 20px 0;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feedback p {
  height: 20px;
  font-size: 20px;
  font-weight: bold;
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Start invisible */
    transform: translateY(-20px); /* Move the dialog up */
  }
  to {
    opacity: 1; /* End fully visible */
    transform: translateY(0); /* Move to its final position */
  }
}

.titles {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.hightlight {
  color: #de3131;
  font-size: larger;
}
