.secondary-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 500px;
  max-width: 700px;
  margin: 50px auto;
  padding: 20px;
  background-color: var(--color-bg-box);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-field {
  width: 100%;
  margin-bottom: 20px;
}

.input-field label {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  display: block;
  margin-bottom: 8px;
}

.input-text {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s;
}

.input-text:focus {
  border-color: #007bff;
}

.btns {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  justify-content: space-between;
  width: 100%;
}

.btn-primary {
  background-color: #007bff;
}

.btn:hover {
  background-color: #5a6268;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn:active {
  transform: scale(0.98);
}

.message {
  height: 250px;
  font-size: 14px;
  font-weight: 600;
  color: var(--color-text-active);
  text-align: center;
}
